@keyframes blinker {
    0% {
        transform: rotate(4deg);
    }
    20% {
        transform: scale(1.1) rotate(14deg);
    }
    40% {
        transform: rotate(-16deg);
    }
    60% {
        transform: scale(0.8) rotate(18deg);
    }
    80% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

@keyframes rotater {
    0% {
        transform: rotate(1deg);
    }
    20% {
        transform: rotate(1.4deg);
    }
    40% {
        transform: rotate(-1deg);
    }
    60% {
        transform: rotate(1.4deg);
    }
    80% {
        transform: rotate(-1.4deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

@keyframes twinkler {
    0% {
        transform: scale(0.2) rotate(0);
    }
    40% {
        transform: scale(1.25) rotate(360deg);
    }
    80% {
        transform: scale(0.35) rotate(0deg);
    }
    100% {
        transform: scale(0.2) rotate(0);
    }
}

@keyframes breathing {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.15) rotate(1deg);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes headerAppear {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes scaler {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(81, 142, 240, 0.4);
        box-shadow: 0 0 0 0 rgba(81, 142, 240, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 40px rgba(81, 142, 240, 0);
        box-shadow: 0 0 0 40px rgba(81, 142, 240, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(81, 142, 240, 0);
        box-shadow: 0 0 0 0 rgba(81, 142, 240, 0);
    }
}
