<template>
    <div id="app">
        <h1>login</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, cumque?</p>
    </div>
</template>

<script>
export default {
    name: "App",
};
</script>
