.ef-gallery {
    height: calc(100vh - 100px);
    overflow: auto;
    padding: 50px 0;
    position: sticky;
    top: 100px;
    background: var(--Blue, #6dd24a);
    border-radius: 80px 80px 0 0;

    &__content {
        position: relative;

        &::after {
            position: absolute;
            z-index: -1;
            top: 20%;
            right: 25%;
            width: 325px;
            height: 325px;
            content: "";
            animation: twinkler 20s ease infinite forwards;
            background: url("@/assets/icons/pattern-gallery.svg") no-repeat center center/contain;
        }

        &::before {
            position: absolute;
            z-index: -1;
            bottom: 50px;
            left: 15%;
            width: 650px;
            height: 650px;
            content: "";
            animation: twinkler 15s -2s ease infinite forwards;
            background: url("@/assets/icons/pattern-gallery2.svg") no-repeat center center/contain;
        }
    }

    &__titling {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 20vw;

        &-title {
            color: var(--Green, #0150b4);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 80px */
        }

        &-desc {
            color: var(--White, #fff);
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 125%; /* 20px */
        }
    }

    &__body {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 325px 100px 325px 100px 325px;
        gap: 20px;
        margin: 50px 0 0 0;
    }

    .ef-galitem {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        overflow: hidden;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        cursor: pointer;

        &:hover {
            .ef-galitem__image {
                filter: brightness(0.6);
            }
        }

        &:acive {
            transform: scale(1.05);
        }

        &__image {
            display: flex;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            object-fit: cover;
        }

        &:nth-child(1) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }

        &:nth-child(2) {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }

        &:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }

        &:nth-child(4) {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }

        &:nth-child(5) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }

        &:nth-child(6) {
            grid-column: 3 / 5;
            grid-row: 4 / 6;
        }
    }
}
@media(max-width: 992px) {
    .ef-gallery {
        &__titling {
            padding: 0 14vw;
            &-title {
                font-size: 40px;
            }
            &-desc {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}
@media(max-width: 768px) {
    .ef-gallery {
        &__titling {
            padding: 0px;
        }
        &__body {
            display: flex;
            flex-direction: column;
        }
        &__item.ef-galitem {
            height: 250px;
        }
    }
}
@media(max-width: 375px) {
    .ef-gallery {
        padding: 38px 0px 65px 0px;
        border-radius: 40px 40px 0px 0px;
        background: var(--Green, #6dd24a);

        &__titling-title {
            font-size: 58px;
            color: #0150b4;
        }
    }
}