.ef-speaker {
    height: calc(100vh - 100px);
    background: #6dd24a;
    overflow: hidden;
    padding: 50px 0;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 80px 80px 0 0;

    &__titling {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            color: var(--Blue, #0150b4);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 80px */
        }

        &-desc {
            color: var(--White, #fff);
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            width: 50%;
            line-height: 125%; /* 20px */
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 50px 0;

        .ef-speakercard {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;

            &__image {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                display: flex;
                background: #0e3a72;
                background-blend-mode: color;
                border-radius: 30px;
                box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
                overflow: hidden;
            }

            &__name {
                color: var(--White, #fff);
                font-family: "Soyuz Grotesk";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 26.4px */
                margin: 5px 0 0 0;
            }

            &__job {
                color: var(--Blue, #0150b4);
                font-family: "SF Pro";
                font-size: 14px;
                font-style: normal;
                font-weight: 510;
                line-height: 130%; /* 18.2px */
            }

            &.ef-illustration {
                background: transparent;
                padding: 50px;
                width: 100%;
                animation: blinker 6s var(--i) step-end infinite;

                .ef-speakercard__image {
                    width: unset;
                    height: unset;
                    max-width: 100%;
                    max-height: 100%;
                    background: transparent;
                    box-shadow: none;
                    object-fit: contain;
                    overflow: visible;
                }

                &::after {
                    display: none;
                }
            }

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                aspect-ratio: 1/1;
                content: "";
                background: rgba(5, 95, 213, 0.5);
                background-blend-mode: color;
                border-radius: 30px;
                overflow: hidden;
            }
        }
    }
}
