.ef-programm {
    height: calc(100vh - 100px);
    background: #0150b4;
    overflow: hidden;
    padding: 50px 0;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 80px 80px 0 0;

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__marquee {
        display: flex;

        &-wrapper {
            height: 80px;
            position: relative;
            overflow: hidden;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 20px 0;
            padding: 10px;
        }

        &-text {
            color: var(--Blue, #6dd24a);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 80px */
            margin: 0 15px;
            display: flex;
            gap: 25px;
            align-items: center;

            &::before {
                content: "";
                display: flex;
                width: 60px;
                height: 60px;
                background: url("@/assets/icons/icon-action-green.svg") no-repeat center center/contain;
            }
        }

        &_1 {
            animation: marquee 15s linear infinite;
            position: absolute;
            top: 0;
        }

        &_2 {
            animation: marquee2 15s linear infinite;
            position: absolute;
            top: 0;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        width: 50%;
        margin: 50px auto;
        justify-content: center;
        position: relative;
        gap: 20px;

        &::before {
            content: "";
            width: 100px;
            height: 100px;
            display: flex;
            position: absolute;
            left: -20%;
            animation: blinker 3s step-end infinite;
            background: url("@/assets/images/illustration-1.png") no-repeat center center;
        }
    }

    &__schedule {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-item {
            border-radius: 20px;
            border: 1px solid var(--Green, #6dd24a);
            box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 30px;
        }

        &-time {
            color: var(--Green, #6dd24a);
            font-family: "Soyuz Grotesk";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 26.4px */
        }

        &-text {
            color: var(--Green, #6dd24a);
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 125%; /* 20px */
        }
    }

    &__action {
        width: 100%;
    }

    &__mainbtn {
        position: relative;
        width: 100%;
        height: 80px;
        margin: auto 0 0 0;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        cursor: pointer;

        &:hover {
            transform: scale(1.015);

            &::after,
            &::before {
                animation-play-state: paused;
            }
        }

        &-icon {
            width: 25px;
            height: 25px;
            display: flex;
            object-fit: contain;
            position: relative;
            z-index: 3;
        }

        &-label {
            color: #0150b4;
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 22px */
            position: relative;
            z-index: 3;
        }

        &::after {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
            content: "";
            transform: rotate(1deg);
            border-radius: 100px;
            animation: rotater 20s ease-in-out infinite;
        }
        &::before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #6dd24a;
            content: "";
            transform: rotate(-1deg);
            border-radius: 100px;
            animation: rotater 9s -10s ease-in-out infinite;
        }
    }
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@media(max-width: 1200px) {
    .ef-programm {
        overflow: auto;
        height: calc(100vh - 0px);
        &__mainbtn {
            margin-top: 50px;
        }
        &__marquee-wrapper {
            margin: 0px;
        }
        &__actions {
            margin: 25px auto;
            &::before {
                left: -40%;
            }
        }
    }
}

@media(max-width: 992px) {
    .ef-programm {
        &__marquee-text {
            font-size: 40px;
        }
        &__schedule {
            width: 100%;
            align-items: center;
            justify-content: center;

            &-item {
                gap: 10px;
                width: 70%;
            }
        }
        &__actions {
            &::before {
                left: -70%;
            }
        }
    }
}

@media (max-width: 768px) {
    .ef-programm {
        &__actions {
            &::before {
                display: none;
            }
        }
        &__schedule-item {
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .ef-programm {
        overflow: auto;
        padding: 38px 0px 65px 0px;
        height: calc(100vh - 100px);
        border-radius: 40px 40px 0px 0px;
        &__content {
            margin-top: 75px;
        }
        &__schedule {
            margin-top: 30px;

            &-item {
                gap: 7px;
                padding: 20px 30px;
                height: max-content;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__marquee {
            &-wrapper {
                overflow: visible;
            }
            &-text {
                font-size: 58px;
            }
        }
        &__actions {
            gap: 8px;
            margin: 0px;
            width: 100%;
            flex-direction: column;
        }
        &__mainbtn {
            margin-top: 36px;
        }
    }
}