.ef-contacts {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: #0150b4;
    padding: 50px 0 0 0;
    position: sticky;
    top: 100px;
    border-radius: 80px 80px 0 0;
    display: flex;
    flex-direction: column;

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 70px auto;
        color: var(--Green, #6dd24a);
        text-align: center;
        font-family: "Soyuz Grotesk";
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 80px */
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -50px;
            right: 130%;
            width: 270px;
            height: 180px;
            background: url("@/assets/images/partners-pattern-1.png") no-repeat center center/contain;
            animation: blinker 3s step-end infinite;
        }

        &::after {
            content: "";
            position: absolute;
            top: -50px;
            left: 130%;
            width: 260px;
            height: 190px;
            background: url("@/assets/images/partners-pattern-2.png") no-repeat center center/contain;
            animation: blinker 6s -1s step-end infinite;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__item {
        border-radius: 30px;
        border-right: 6px solid var(--Green, #6dd24a);
        border-bottom: 10px solid var(--Green, #6dd24a);
        aspect-ratio: 1 / 1;
        background: var(--White, #fff);
        color: var(--Green, #6dd24a);
        text-align: center;
        font-family: "Soyuz Grotesk";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 26.4px */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            border-color: #fff;
            color: #fff;
            background: #6dd24a;
        }

        &:active {
            transform: scale(0.96);
        }
    }

    &__upbtn {
        width: 100%;
        background: #6dd24a;
        height: 85px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        color: var(--White, #fff);
        text-align: center;
        font-family: "Soyuz Grotesk";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1; /* 26.4px */
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

        &::before {
            width: 30px;
            height: 30px;
            background: url("@/assets/icons/icon-totop.svg") no-repeat center center;
            content: "";
        }
    }
}
