.ef-intro {
    height: calc(100vh - 100px);
    // margin: 100px 0 0 0;
    position: sticky;
    top: 100px;
    overflow: hidden;

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        justify-items: center;
        flex-grow: 1;

        &-date {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 25px 20px;

            &:first-child {
                text-align: right;
                border-right: 1px solid #f4f4f4;
            }

            &:last-child {
                align-items: flex-start;
                text-align: left;
                border-left: 1px solid #f4f4f4;
            }
        }

        &-month {
            color: var(--White, #fff);
            text-align: right;
            font-family: "Soyuz Grotesk";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
        }

        &-location {
            color: var(--LightGrey, #f4f4f4);
            text-align: right;
            font-family: "SF Pro";
            font-size: 14px;
            font-style: normal;
            font-weight: 510;
            line-height: 130%; /* 18.2px */
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        gap: 40px;

        &-image {
            width: 325px;
            height: 180px;
            object-fit: contain;
            display: flex;
        }

        &-text {
            color: var(--LightGrey, #f4f4f4);
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 125%; /* 20px */
        }
    }

    &__action {
        padding: 50px 0 100px 0;

        .ef-introbtn {
            position: relative;
            width: 100%;
            height: 80px;
            transition: 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            cursor: pointer;

            &:hover {
                transform: scale(1.015);

                &::after,
                &::before {
                    animation-play-state: paused;
                }
            }

            &__icon {
                width: 25px;
                height: 25px;
                display: flex;
                object-fit: contain;
                position: relative;
                z-index: 3;
            }

            &__label {
                color: var(--Green, #6dd24a);
                text-align: center;
                font-family: "Soyuz Grotesk";
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 22px */
                position: relative;
                z-index: 3;
            }

            &__elem {
                position: absolute;
                right: 10%;
                bottom: 0;
                z-index: 2;
                width: 250px;
                height: 200px;
                object-fit: contain;
                animation: blinker 3s step-end infinite;
            }

            &::after {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #6dd24a;
                content: "";
                transform: rotate(1deg);
                border-radius: 100px;
                animation: rotater 20s ease-in-out infinite;
            }
            &::before {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #0150b4;
                content: "";
                transform: rotate(-1deg);
                border-radius: 100px;
                animation: rotater 9s -10s ease-in-out infinite;
            }
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
        border-radius: 80px 80px 0 0;
        overflow: hidden;
        background: url("@/assets/images/intro-bg.jpg") no-repeat center bottom/cover;
    }

    &::after {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 80px 80px 0 0;
        overflow: hidden;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
    }
}

@media(max-width: 1200px) {
    .ef-intro__action .ef-introbtn__elem {
        right: -4%;
        bottom: 100px;
    }
}

@media(max-width: 992px) {
    .ef-intro__action {
        .ef-introbtn__elem {
            right: 0;
            bottom: 100px;
        }
    }
}

@media (max-width: 768px) {
    .ef-intro {
        &__info {
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            &-date {
                &:first-of-type {
                padding: 22px;
                border-right: 0px;
                align-items: center;
                margin-bottom: 30px;
                justify-content: center;
                border-bottom: 1px solid #fff;
                }
                &:last-of-type {
                    padding: 22px;
                    margin-top: 30px;
                    align-items: center;
                    justify-content: center;
                    border-left: navajowhite;
                    border-top: 1px solid #fff;
                }
            }
        }
        &__logo-text {
            width: 50%;
            bottom: -20px;
            font-size: 16px;
            position: absolute;
        }
        .ef-introbtn__elem {
            display: none;
        }
    }
}

@media(max-width: 375px) {
    .ef-intro {
        &::before {
            border-radius: 40px 40px 0px 0px;
        }
        &::after {
            border-radius: 40px 40px 0px 0px;
        }
    }
    .ef-intro__logo-text {
        width: 87%;
    }
}

@media(max-width: 320px) {
    .ef-intro__action-btn.ef-introbtn {
        gap: 5px;
    }
    .ef-intro__action .ef-introbtn__label {
        font-size: 16px;
    }
}