.ef-about {
    background: #6dd24a;
    padding: 50px 0;
    height: calc(100vh - 100px);
    position: sticky;
    top: 100px;
    overflow: hidden;
    border-radius: 80px 80px 0 0;

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    &__titling {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            color: var(--Blue, #0150b4);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 80px */
        }

        &-desc {
            color: var(--White, #fff);
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 125%; /* 20px */
            margin: 20px 0 0 0;
            width: 80vh;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;
        margin: auto 0;

        .ef-aboutcard {
            border-radius: 30px;
            background: var(--White, #fff);
            width: 100%;
            aspect-ratio: 1 / 1;
            padding: 30px 25px;
            display: flex;
            flex-shrink: 1;
            flex-direction: column;
            align-items: flex-start;
            box-sizing: border-box;

            &__title {
                color: var(--Blue, #0150b4);
                font-family: "Soyuz Grotesk";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 26.4px */
                width: calc(100% - 80px);
            }

            &__image {
                align-self: flex-end;
                margin: auto 20px auto auto;
            }

            &__desc {
                color: var(--Green, #6dd24a);
                font-family: "SF Pro";
                font-size: 14px;
                font-style: normal;
                font-weight: 510;
                line-height: 130%; /* 18.2px */
                width: calc(100% - 65px);
            }

            &:nth-child(1) {
                transform: rotate(-6deg);
            }
            &:nth-child(2) {
                transform: rotate(4deg);
            }
            &:nth-child(3) {
                transform: rotate(-4deg);
            }
            &:nth-child(4) {
                transform: rotate(-6deg);
            }
        }
    }

    &::after {
        position: absolute;
        z-index: -1;
        left: -15%;
        top: 30%;
        transform: rotate(-118deg);
        width: calc(100vh + 200px);
        height: 350px;
        content: "";
        background: url("@/assets/icons/pattern-line-2.svg") no-repeat center center / contain;
    }

    &::before {
        position: absolute;
        z-index: -1;
        right: -30%;
        top: 20%;
        transform: rotate(50deg);
        width: 1100px;
        height: 250px;
        content: "";
        background: url("@/assets/icons/pattern-line-1.svg") no-repeat center center / contain;
    }
}
@media(max-width: 1200px) {
    .ef-about {
        overflow: auto;

        &__content {
            gap: 60px;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
            
            .ef-aboutcard__image {
                margin: 0px 20px;
            }
        }
        &__item {
            height: 250px;
        }
    }
}
@media(max-width: 992px) {
    .ef-about {
        &__titling-title {
            font-size: 40px;
            color: var(--White, #fff);
        }
        &__titling-desc {
            font-size: 14px;
        }
        &__item {
            gap: 10px;
            height: 300px;
            justify-content: flex-start;
        }
        &__list {
            .ef-aboutcard__desc {
                width: 100%;
            }
        }
    }
}

@media(max-width: 768px) {
    .ef-about {
        &__item {
            height: 320px;
        }
        &__list {
            width: auto;
        }
    }
}

@media(max-width: 576px) {
    .ef-about {
        &__titling {
            &-desc {
                width: 100%;
            }
        }
        &__list {
            grid-template-columns: 1fr;
            .ef-aboutcard__desc {
                font-size: 18px;
            }
            .ef-aboutcard {
                justify-content: space-between;
            }
        }
    }
}

@media(max-width: 375px) {
    .ef-about {
        &__list {
            .ef-aboutcard:nth-child(4) {
                transform: rotate(5deg);
            }
        }
        &__titling-title {
            font-size: 58px;
            color: #0150B4;
        }
        padding: 38px 0px 65px 0px;
        border-radius: 40px 40px 0px 0px;
        &::before {
            top: 59%;
            right: -123%;
            transform: rotate(49deg);
        }
        &::after {
            left: -36%;
            top: 158%;
            transform: rotate(-137deg);
        }
        &__item.ef-aboutcard {
            height: max-content;
        }
    }
}

@media(max-width: 320px) {
    .ef-about {
        .ef-aboutcard__title {
            font-size: 20px;
        }
    }
}