.ef-partners {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: #0150b4;
    padding: 50px 0;
    position: sticky;
    top: 100px;
    border-radius: 80px 80px 0 0;

    &__titling {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20vw;
        text-align: center;
        margin: 0 0 70px 0;

        &-title {
            color: var(--Blue, #6dd24a);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 80px */
        }

        &-desc {
            color: var(--White, #fff);
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 125%; /* 20px */
        }
    }

    &__list {
        margin: 20px 0 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
    }

    &__block {
        &-title {
            text-align: center;
            color: var(--Blue, #6dd24a);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 26.4px */
        }
    }

    &__item {
        border-radius: 30px;
        background: #fff;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 5 / 3;

        &-logo {
            max-width: 200px;
            max-height: 90%;
            object-fit: contain;
        }
    }

    &.ef-scrollable {
        overflow: auto;
    }

    &::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 10%;
        width: 270px;
        height: 140px;
        background: url("@/assets/images/partners-pattern-1.png") no-repeat center center/contain;
        animation: blinker 3s step-end infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: 10%;
        right: 10%;
        width: 260px;
        height: 190px;
        background: url("@/assets/images/partners-pattern-2.png") no-repeat center center/contain;
        animation: blinker 6s -1s step-end infinite;
    }
}
@media(max-width: 1200px) {
    .ef-partners {
        overflow: auto;
        &__titling-title {
            font-size: 60px;
        }
        &__title-desc {
            font-size: 14px;
        }
    }
}
@media(max-width: 992px) {
    .ef-partners {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
        &__titling {
            padding: 0px 16vw;
            &-title {
                font-size: 40px;
            }
        }
    }
}
@media(max-width: 768px) {
    .ef-partners {
        &::before,
        &::after {
            display: none;
        }
        &__titling {
            padding: 0px;
        }
        &__list {
            gap: 8px;
            grid-template-columns: repeat(3, 1fr);
        }
        &__item-logo {
            max-width: 100%;
        }
    }
}

@media(max-width: 375px) {
    .ef-partners {
        padding: 38px 0px 65px 0px;
        border-radius: 40px 40px 0px 0px;
        &__titling {
            margin: 0px 0px 46px 0px;
            &-title {
                font-size: 58px;
            }
            &-desc {
                font-size: 14px;
            }
        }
        &__list {
            &-wrapper {
                gap: 30px;
            }
        }
        &__item {
            height: 114px;
            padding: 10px;
            border-radius: 20px;
            width: 108px !important;
        }
    }
}

@media (max-width: 320px) {
    .ef-partners {
        &__item {
            width: 92px !important;
        }
    }
}