.ef-contest {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: #0150b4;
    padding: 50px 0;
    position: sticky;
    top: 100px;
    border-radius: 80px 80px 0 0;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__titling {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;

        &-title {
            color: var(--Green, #6dd24a);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 80px */
        }

        &-desc {
            color: var(--White, #fff);
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 125%;
            /* 20px */
            width: 50%;
            margin: 0 auto;
        }

        &-btn {
            position: absolute;
            top: 0;
            left: 100px;
            border-radius: 200px;
            border: 1px solid var(--Green, #6dd24a);
            padding: 20px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--Green, #6dd24a);
            text-align: center;
            max-width: 245px;
            height: 60px;
            font-family: "SF Pro";
            font-size: 14px;
            font-style: normal;
            font-weight: 510;
            transform: rotate(-20deg);
            line-height: 110%;
            /* 18.2px */
            animation: blinker 5s step-end infinite;

            &:last-child {
                right: 100px;
                left: unset;
                transform: rotate(20deg);
                animation: blinker 9s -1s step-end infinite;
            }
        }
    }

    &__list {
        margin: 40px 0;
        flex-grow: 1;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__item {
        background: lightcoral;
        width: 100%;
        height: 250px;
        padding: 35px;
        border-radius: 30px;
        border-right: 8px solid var(--Green, #6dd24a);
        border-bottom: 14px solid var(--Green, #6dd24a);
        background: var(--White, #fff);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-place {
            color: var(--Blue, #0150b4);
            font-family: "Soyuz Grotesk";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
            /* 26.4px */
        }

        &-prize {
            color: var(--Green, #6dd24a);
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 80px */
            margin: auto 0 0 0;

            span {
                color: inherit;
                font-family: "Soyuz Grotesk";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
            }
        }

        &:nth-child(2) {
            border-right: 8px solid var(--White, #fff);
            border-bottom: 14px solid var(--White, #fff);
            background: var(--Green, #6dd24a);

            .ef-contest {
                &__item-prize {
                    color: #fff;
                }
            }
        }
    }

    &__btn {
        position: relative;
        width: 100%;
        height: 80px;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        cursor: pointer;
        margin: 40px 0;

        &:hover {
            transform: scale(1.015);

            &::after,
            &::before {
                animation-play-state: paused;
            }
        }

        &-icon {
            width: 25px;
            height: 25px;
            display: flex;
            object-fit: contain;
            position: relative;
            z-index: 3;
        }

        &-label {
            color: #0150b4;
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
            position: relative;
            z-index: 3;
        }

        &::after {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
            content: "";
            transform: rotate(1deg);
            border-radius: 100px;
            animation: rotater 20s ease-in-out infinite;
        }

        &::before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #6dd24a;
            content: "";
            transform: rotate(-1deg);
            border-radius: 100px;
            animation: rotater 9s -10s ease-in-out infinite;
        }
    }

    &__copyright {
        color: var(--White, #fff);
        text-align: center;
        font-family: "SF Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 510;
        line-height: 130%;
        width: 70%;
        margin: auto auto 0 auto;
    }
}

@media(max-width: 1200px) {
    .ef-contest {
        &__titling {
            &-title {
                font-size: 60px;
            }

            &-desc {
                font-size: 14px;
                margin-top: 10px;
            }

            &-btn {
                left: -100px;

                &:last-child {
                    right: -100px;
                }
            }
        }

        &__item-prize {
            font-size: 60px;
        }
    }
}
@media (max-width: 992px) {
    .ef-contest {
        &__titling-title {
            font-size: 40px;
        }
        &__titling-desc {
            width: 60%;
        }
        &__item-prize {
            font-size: 40px;
        }
    }
}

@media(max-width: 768px) {
    .ef-contest {
        &__copyright {
            width: 100%;
        }
        overflow: auto;
        &__list {
            margin-top: 200px;
            grid-template-columns: repeat(2, 1fr);
        }
        &__titling {
            &-desc {
                width: 100%;
                margin: 10px 0px 0px;
            }
            &-btn {
                &:first-of-type {
                    left: 0;            
                    top: 110px;
                    width: 100%;
                    max-width: 100%;
                    transform: rotate(0deg);
                    animation: none !important;
                }
                &:last-of-type {
                    right: 0;
                    top: 196px;
                    width: 100%;
                    max-width: 100%;
                    transform: rotate(0deg);
                    animation: none !important;
                }
            }
        }
    }
}

@media(max-width: 375px) {
    .ef-contest {
        border-radius: 40px 40px 0px 0px;
        &__titling {
            gap: 14px;
            &-title {
                width: 70%;
                margin: auto;
                font-size: 58px;
            }
            &-desc {
                font-size: 13px;
                font-family: monospace;
            }
            &-btn {
                top: 315px;
                height: max-content;
                font-family: monospace;
            }
        }
        padding: 38px 0px 65px 0px;
        &__btn {
            margin: 0px;
            padding: 40px;
        }
        &__copyright {
            display: none;
        }
        &__btn-icon {
            display: none;
        }
        &__item {
            height: 200px;
            border-radius: 20px;

            &-prize {
                font-size: 60px;
            }
        }
        &__list {
            gap: 12px;
            grid-template-columns: 1fr;
        }
        &__titling-btn:first-of-type {
            top: 225px;
        }
        &__titling-btn:last-of-type {
            top: 310px;
        }
    }
}

@media(max-width: 320px) {
    .ef-contest__titling-btn:first-of-type {
        top: 190px;
    }
    .ef-contest__titling-btn:last-of-type {
        top: 280px;
    }
}