.ef-gitouch {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: #6dd24a;
    padding: 50px 0;
    position: sticky;
    top: 100px;
    border-radius: 80px 80px 0 0;
    display: flex;
    flex-direction: column;

    &__content {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-direction: column;
    }

    &__titling {
        &-title {
            color: var(--Blue, #0150b4);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 80px */
            position: relative;

            &::before {
                content: "";
                background: url("@/assets/images/illustration-6.png") no-repeat center center/contain;
                position: absolute;
                left: 15%;
                top: -70px;
                z-index: 2;
                width: 150px;
                height: 150px;
                object-fit: contain;
                animation: blinker 3s step-end infinite;
            }
        }

        &-subtitle {
            color: var(--White, #fff);
            text-align: center;

            /* Большой текст */
            font-family: "SF Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 125%; /* 20px */
        }
    }

    .ef-gitouchbtn {
        position: relative;
        width: 100%;
        height: 80px;
        transition: 0.3s;
        margin: 60px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        cursor: pointer;

        &:hover {
            transform: scale(1.015);

            &::after,
            &::before {
                animation-play-state: paused;
            }
        }

        &__icon {
            width: 25px;
            height: 25px;
            display: flex;
            object-fit: contain;
            position: relative;
            z-index: 3;
        }

        &__label {
            color: var(--Green, #6dd24a);
            text-align: center;
            font-family: "Soyuz Grotesk";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 22px */
            position: relative;
            z-index: 3;
        }

        &::after {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
            content: "";
            transform: rotate(1deg);
            border-radius: 100px;
            animation: rotater 20s ease-in-out infinite;
        }
        &::before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0150b4;
            content: "";
            transform: rotate(-1deg);
            border-radius: 100px;
            animation: rotater 9s -10s ease-in-out infinite;
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: -100px;
        right: 0;
        width: 1200px;
        transform: scaleY(-1);
        height: 300px;
        background: url("@/assets/icons/pattern-line-1.svg") no-repeat center center/contain;
    }
}
