<template>
    <header class="ef-header"
            :class="{opened__sidebar: isVisible}">
        <div class="ef-header__content container"
             :class="{radius__zero: isVisible}">
            <div class="ef-header__logo">
                <a
                    class="ef-header__logo-link"
                    href="/">
                    <img
                        class="ef-header__logo-image"
                        src="@/assets/icons/logo.svg"
                        alt="logo" />
                </a>
            </div>
            <div class="ef-header__nav"
                 :class="{header__sidebar: isSidebar,
                          top__header: isVisible}">
                <ul class="ef-header__nav-list">
                    <li
                        v-for="(item, index) in links"
                        :key="'elem' + index"
                        class="ef-navlink">
                        <a  :href="item.link"
                            :data-text="item.label"
                            class="ef-navlink__label">
                            {{ item.label }}
                        </a>
                        <!-- <ul
                            v-if="item.children"
                            class="ef-navlink ef-dropdown">
                            <li
                                v-for="(inneritem, index) in item.children"
                                :key="'subelem' + index"
                                class="ef-navlink ef-sublink">
                                <a
                                    :href="inneritem.link"
                                    class="ef-sublink__label">
                                    {{ inneritem.label }}
                                </a>
                            </li>
                        </ul> -->
                    </li>
                </ul>
            </div>
            <div class="ef-header__actions"
                 :class="{header__sidebar: isSidebar}">
                <CompButton
                    :efbtnText="'участвовать'"
                    :efbtnLink="'#!'"
                    :efbtnLeftIcon="'icon-action'" />
            </div>
            <!-- :src="isSidebar ? '@/assets/images/sidebar_menu.svg' : '@/assets/images/menu_close.svg'" -->
            <img class="ef-header__menu"
                 v-if="isSidebar == false"
                 @click="toggleSidebar" 
                 src="@/assets/images/sidebar_menu.svg"
                 alt="menu">
            <img class="ef-header__menu close__bg"
                 v-if="isSidebar == true"
                 @click="toggleSidebar" 
                 src="@/assets/images/menu_close.svg"
                 alt="menu">
        </div>
    </header>
</template>

<script>
import CompButton from "@/components/compButton.vue";

export default {
    name: "comp-header",
    components: {CompButton},
    data() {
        return {
            isVisible: false,
            isSidebar: false,
            isScrolled: false,
            isMobile: false,
            links: [
                {
                    label: "О проекте",
                    link: "/",
                },
                {
                    label: "Цели",
                    link: "/",
                },
                {
                    label: "гАЛЛЕРЕЯ",
                    link: "/",
                },
                {
                    label: "Программа",
                    link: "/",
                },
                {
                    label: "сПИКЕРЫ",
                    link: "/",
                },
                {
                    label: "ПАРТНЕРЫ",
                    link: "/",
                },
                {
                    label: "контакты",
                    link: "/",
                },
            ],
        };
    },
    mounted() {
        window.addEventListener("scroll", this.handleScroll);
    },
    methods: {
        toggleSidebar() {
            this.isSidebar = !this.isSidebar;
        },

        handleScroll() {
    if (window.pageYOffset > 100) {
        this.isVisible = true;
    } else {
        this.isVisible = false;
    }
},
    },
};
</script>

<style></style>