<template>
    <a
        :href="efbtnLink"
        :target="{_blank: efbtnTarget}"
        :class="[efbtnType, efbtnMode]"
        class="efbtn">
        <img
            v-if="efbtnLeftIcon"
            class="efbtn__icon left"
            :src="require(`@/assets/icons/${efbtnLeftIcon}.svg`)"
            alt="button icon" />
        <p class="efbtn__text">{{ efbtnText }}</p>
        <img
            v-if="efbtnRightIcon"
            class="efbtn__icon right"
            :src="require(`@/assets/icons/${efbtnRightIcon}.svg`)"
            alt="button icon" />
    </a>
</template>

<script>
export default {
    name: "comp-button",
    props: {
        efbtnType: {
            type: String,
        },
        efbtnMode: {
            type: String,
        },
        efbtnText: {
            type: String,
            required: true,
        },
        efbtnLink: {
            type: String,
            default: "/",
        },
        efbtnLeftIcon: {
            type: String,
        },
        efbtnRightIcon: {
            type: String,
        },
        efbtnTarget: {
            type: Boolean,
            default: false,
        },
    },
};
</script>
