.efbtn {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    display: inline-flex;
    height: 60px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 200px;
    background: #6dd24a;

    &__icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
        display: flex;
    }

    &__text {
        color: #ffffff;
        line-height: 130%;
        transition: 0.2s;
        white-space: nowrap;
        color: #0150b4;
        font-family: "Soyuz Grotesk";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
    }

    &.white {
        background: #fff;
    }

    &.stroke {
        background: transparent;
        border: 1px solid #fff;
        border-color: #fff;

        .efbtn {
            &__icon,
            &__text {
                color: #fff;
            }
        }
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        transform: scale(0.95);
    }
}
