.ef-header {
    height: 100px;
    transition: 0.3s;
    position: sticky;
    z-index: 9;
    top: 0;
    width: 100%;
    background: #f4f4f4;

    &__menu {
        display: none;
    }


    // &__wrapper {
    //     position: relative;
    //     z-index: 9;
    //     transition: 0.3s;
    //     height: 0;

    //     &.scrolled {
    //         position: fixed;
    //         z-index: 9;
    //         top: 0;
    //         left: 0;
    //         right: 0;
    //         transform: translateY(-180px);
    //         animation: headerAppear 0.3s 1 ease-in-out forwards;

    //         .tp-header {
    //             background: rgba(255, 255, 255, 0.85);
    //             backdrop-filter: blur(5px);
    //             box-shadow: 0 10px 80px -20px #09142720;

    //             &__nav .tp-navlink {
    //                 color: #222;

    //                 &:hover {
    //                     color: $accent;
    //                 }
    //             }
    //         }
    //     }
    // }

    &__content {
        height: 100%;
        display: flex;
        gap: 35px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    &__logo {
        width: 120px;
        height: 100px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition: 0.3s;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
            display: flex;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__nav {
        flex-grow: 1;
        padding: 21px 50px;
        background: #fff;
        border-radius: 200px;

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-grow: 1;
        }

        .ef-navlink {
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s ease-out;
            cursor: pointer;
            position: relative;
            padding: 0px;

            &__label {
                color: #0150b4;
                text-align: center;
                font-family: "Soyuz Grotesk";
                font-size: 16px;
                transition: transform 0.3s;
                transform-origin: 50% 0;
                transform-style: preserve-3d;
                position: relative;
                display: inline-block;

                &:hover {
                    transform: rotateX(90deg);
                }
            }

            &__label::before {
                position: absolute;
                content: attr(data-text);
                transform: rotateX(-90deg);
                transform-origin: 50% 0;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                color: #00c695;
            }

            .ef-dropdown {
                position: absolute;
                top: 100%;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
                left: 0;
                background: #fff;
                padding: 20px;
                min-width: 250px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                box-shadow: 0 10px 20px -10px #d7d7d7;
            }

            .ef-sublink {
                color: #000;
                font-size: 14px;
                padding: 0;
            }

            &:hover {
                color: $accent;

                .ef-dropdown {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }

            &:has(.ef-dropdown) {
                display: flex;
                gap: 5px;
                align-items: center;

                &::after {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 0.255em;
                    vertical-align: 0.255em;
                    content: "";
                    border-top: 5px solid;
                    border-right: 5px solid transparent;
                    border-bottom: 0;
                    border-left: 5px solid transparent;
                }
            }
        }
    }

    &__mobile {
        display: none;
    }
}

.opened__sidebar {
    margin: 0px !important;
    width: 100% !important;
    border-radius: 0px !important;
}

.radius__zero {
    border-radius: 0px !important;
}

.header__sidebar {
    transform: translateX(0%) !important;
}

.top__header {
    top: 100px !important;
}

.close__bg {
    background: #F4F4F4 !important;
}

.ef-header__actions.header__sidebar {
    width: 75%;
    margin: 0px auto;
}

.ef-header__actions.header__sidebar {
    .efbtn {
        width: 100%;
    }
}

// @media (max-width: 1250px) {
//     .rs-header {
//         &__logo {
//             width: 100px;
//             height: 35px;
//         }

//         &__content {
//             gap: 25px;
//         }

//         &__nav {
//             &-links {
//                 gap: 15px;
//                 justify-content: space-between;
//             }
//         }

//         &__link {
//             &-txt {
//                 font-size: 14px;
//             }
//         }
//     }
// }

// @media (max-width: 992px) {
//     .rs-header {
//         height: 70px;
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;

//         &__nav {
//             position: fixed;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: flex-start;
//             transform: translateX(-100%);
//             transition: 0.4s;
//             top: 70px;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             max-height: calc(100vh - 70px);
//             padding: 50px 50px 150px 50px;
//             background: #fff;
//             border-bottom: 1px solid rgba(29, 30, 44, 0.15);

//             &-links {
//                 flex-direction: column;
//                 align-items: flex-start;
//                 justify-content: flex-start;
//                 width: 280px;
//                 gap: 20px;
//                 height: auto;
//             }
//         }

//         &__logo {
//             width: 160px;
//         }

//         &__link {
//             &-txt {
//                 text-align: center;
//                 font-size: 24px;
//             }
//         }

//         &__actions {
//             position: fixed;
//             transform: translateX(-100%);
//             transition: 0.4s;
//             bottom: 0;
//             padding: 30px;
//             left: 0;
//             background: #ffffff;
//             right: 0;
//             width: auto;
//             height: auto;
//             justify-content: center;
//         }

//         &__mobile {
//             display: flex;

//             &-btn {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 transition: 0.5s;
//                 width: 50px;
//                 height: 50px;

//                 &::after,
//                 &::before {
//                     content: "";
//                     position: absolute;
//                     width: 4px;
//                     height: 22px;
//                     background: #1f1f1f;
//                     border-radius: 10px;
//                     transform: rotate(90deg) translateX(-5px);
//                     transition: 0.3s;
//                 }

//                 &::before {
//                     transform: rotate(90deg) translateX(5px);
//                 }
//             }
//         }

//         &.opened {
//             .rs-header {
//                 &__nav {
//                     transform: translateX(0);
//                 }

//                 &__actions {
//                     transform: translateX(0);
//                 }

//                 &__mobile {
//                     &-btn {
//                         transform: rotate(-135deg);

//                         &::after {
//                             transform: rotate(0deg) translateX(0);
//                         }
//                         &::before {
//                             transform: rotate(90deg) translateX(0);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 576px) {
//     .rs-header {
//         position: fixed;
//         z-index: 9;
//         top: 0;
//         left: 0;
//         right: 0;
//         box-shadow: 0 3px 20px -5px #09142740;

//         &__logo {
//             width: 100px;
//         }

//         &__mobile {
//             &-btn {
//                 width: 40px;
//                 height: 40px;
//             }
//         }

//         &__nav {
//             padding: 30px;

//             &-links {
//                 width: 100%;
//                 gap: 20px;
//             }
//         }

//         &__link {
//             &-txt {
//                 font-size: 18px;
//             }
//         }
//     }
// }

@media(max-width: 1200px) {
    .ef-header {
        &__nav {
            padding: 0px;

            .ef-navlink__label {
                font-size: 14px;
            }
        }

        &__nav-list {
            gap: 18px;
            background: #f4f4f4;
        }
    }
}

@media(max-width: 992px) {
    .ef-header {
        &__menu {
            display: block;
            background: #fff !important;
        }
        &__nav {
            left: 0;
            right: 0;
            gap: 30px;
            margin: 0;
            bottom: 0;
            top: 100px;
            padding: 0;
            z-index: 12;
            height: 100vh;
            overflow: auto;
            position: fixed;
            border-radius: 0px;
            justify-content: center;
            -webkit-transition: 0.2s;
            backdrop-filter: blur(35px);
            transform: translateX(-100%);
            background: var(--White, #fff);
            -ms-transform: translateX(-100%);
            -webkit-backdrop-filter: blur(35px);
            -webkit-transform: translateX(-100%);

            &-list {
                gap: 0px;
                width: 75%;
                padding: 42px;
                border-radius: 20px;
                background: #F4F4F4;
                margin: 80px auto auto;
                flex-direction: column;

                .ef-navlink {
                    padding: 10px 0px;

                    &__label {
                        font-size: 20px;
                    }

                }
            }
        }

        &__actions {
            right: 0;
            top: 560px;
            gap: 30px;
            left: 0px;
            margin: 0;
            bottom: 0;
            padding: 0;
            z-index: 12;
            overflow: auto;
            position: fixed;
            width: max-content;
            border-radius: 0px;
            height: max-content;
            justify-content: center;
            -webkit-transition: 0.2s;
            transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }

        &__menu {
            width: 60px;
            height: 60px;
            padding: 20px;
            border-radius: 50%;
            background: #6DD24A;
        }
    }
}

@media(max-width: 375px) {
    .ef-header {
        width: 92%;
        margin: 13px 16px;
        border-radius: 20px;

        &__nav {
            top: 125px;
        }

        &__nav-list {
            width: 90%;
        }

        &__actions.header__sidebar {
            width: 90%;
            top: 580px;
        }

        &__content {
            gap: 0px;
            padding: 7px 10px;
            background: #fff;
            border-radius: 20px;
            justify-content: space-between;
        }

        &__menu {
            background: #6dd24a !important;
        }
        &__menu.close__bg {
            background: #f4f4f4 !important;
        }
    }
}