<template>
    <div>
        <SectionIntro />
        <SectionAbout />
        <SectionContest />
        <SectionGallery />
        <SectionProgramm />
        <SectionSpeakers />
        <SectionPartners />
        <SectionGetintouch />
        <SectionContacts />
    </div>
</template>

<script>
import SectionIntro from "./sectionIntro.vue";
import SectionAbout from "./sectionAbout.vue";
import SectionPartners from "./sectionPartners.vue";
import SectionGallery from "./sectionGallery.vue";
import SectionProgramm from "./sectionProgramm.vue";
import SectionContest from "./sectionContest.vue";
import SectionSpeakers from "./sectionSpeakers.vue";
import SectionGetintouch from "./sectionGetintouch.vue";
import SectionContacts from "./sectionContacts.vue";

export default {
    name: "page-home",
    components: {SectionIntro, SectionContacts, SectionGetintouch, SectionContest, SectionSpeakers, SectionAbout, SectionProgramm, SectionPartners, SectionGallery},
};
</script>
