<template>
    <section class="ef-gitouch">
        <div class="ef-gitouch__content container">
            <div class="ef-gitouch__titling">
                <h1 class="ef-gitouch__titling-title">
                    Присоединяйтесь
                    <br />
                    к экологической революции!
                </h1>
                <p class="ef-gitouch__titling-subtitle">Зарегистрируйтесь сейчас и станьте частью IT ECOFEST 2024</p>
            </div>
            <div class="ef-gitouch__action">
                <div class="ef-gitouch__action-btn ef-gitouchbtn">
                    <img
                        class="ef-gitouchbtn__icon"
                        src="@/assets/icons/icon-calendar.svg"
                        alt="icon camera" />

                    <p class="ef-gitouchbtn__label">Зарегистрироваться сейчас</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-getintouch",
};
</script>

<style></style>
