<template>
    <section class="ef-contacts">
        <div class="ef-contacts__content container">
            <h1 class="ef-contacts__title">Контакты</h1>
            <div class="ef-contacts__list">
                <a
                    v-for="item in thedata"
                    :key="item"
                    :href="item.link"
                    target="_blank"
                    class="ef-contacts__item">
                    {{ item.label }}
                </a>
            </div>
        </div>
        <div class="ef-contacts__upbtn">наверх</div>
    </section>
</template>

<script>
export default {
    name: "section-contacts",
    data() {
        return {
            thedata: [
                {
                    link: "/",
                    label: "Instagram",
                },
                {
                    link: "/",
                    label: "Facebook",
                },
                {
                    link: "/",
                    label: "Telegram",
                },
                {
                    link: "/",
                    label: "+99899 999 99 99",
                },
            ],
        };
    },
};
</script>
