<template>
    <section class="ef-intro">
        <div class="ef-intro__content container">
            <div class="ef-intro__info">
                <div class="ef-intro__info-date">
                    <h3 class="ef-intro__info-month">4 мая</h3>
                    <p class="ef-intro__info-location">Astrum IT-Academy</p>
                </div>
                <div class="ef-intro__logo">
                    <img
                        class="ef-intro__logo-image"
                        src="@/assets/icons/logo.svg"
                        alt="logo" />
                    <p class="ef-intro__logo-text">Технологии меняют мир — присоединяйтесь к экологической революции!</p>
                </div>
                <div class="ef-intro__info-date">
                    <h3 class="ef-intro__info-month">5 мая</h3>
                    <p class="ef-intro__info-location">Central Park</p>
                </div>
            </div>
            <div class="ef-intro__action">
                <div class="ef-intro__action-btn ef-introbtn">
                    <img
                        class="ef-introbtn__icon"
                        src="@/assets/icons/icon-calendar.svg"
                        alt="icon camera" />

                    <p class="ef-introbtn__label">Зарегистрироваться сейчас</p>

                    <img
                        class="ef-introbtn__elem"
                        src="@/assets/icons/pattern-welcome.svg"
                        alt="element" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-intro",
};
</script>

<style></style>
