<template>
    <section class="ef-programm">
        <div class="ef-programm__marquee-wrapper">
            <div
                class="ef-programm__marquee"
                :class="'ef-programm__marquee_' + item"
                v-for="item in 2"
                :key="'item_' + item">
                <p
                    v-for="item in 5"
                    :key="item"
                    class="ef-programm__marquee-text">
                    Программа {{ transformX }}
                </p>
            </div>
        </div>
        <div class="ef-programm__content container">
            <div class="ef-programm__actions">
                <CompButton
                    class="ef-programm__action"
                    :efbtnMode="'white'"
                    :efbtnText="'4 мая - Astrum IT-Academy'"
                    :efbtnLink="'#!'"
                    :efbtnLeftIcon="'icon-action'" />
                <CompButton
                    class="ef-programm__action"
                    :efbtnType="'stroke'"
                    :efbtnText="'5 мая - Central Park'"
                    :efbtnLink="'#!'"
                    :efbtnLeftIcon="'icon-action'" />
            </div>

            <div class="ef-programm__schedule">
                <div
                    v-for="(item, index) in schedule"
                    :key="'elem_' + index"
                    class="ef-programm__schedule-item">
                    <p class="ef-programm__schedule-time">{{ item.time }}</p>
                    <p class="ef-programm__schedule-text">{{ item.text }}</p>
                </div>
            </div>

            <a
                href="#!"
                class="ef-programm__mainbtn">
                <img
                    class="ef-programm__mainbtn-icon"
                    src="@/assets/icons/icon-pdf.svg"
                    alt="icon camera" />

                <p class="ef-programm__mainbtn-label">скачать программу в pdf</p>
            </a>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/compButton.vue";

export default {
    name: "section-programm",
    components: {CompButton},
    data() {
        return {
            schedule: [
                {
                    time: "09:00-9:30",
                    text: "Трансфер от отеля Узбекистан",
                },
                {
                    time: "10:00-11:00",
                    text: "Кофе-брейк и нетворкинг",
                },
                {
                    time: "11:00-13:00",
                    text: "Открытие и интерактивные сессии",
                },
                {
                    time: "14:00-16:00",
                    text: "Питчинг инновационных стартапов",
                },
                {
                    time: "16:00-20:00",
                    text: "Кинопоказы и культурные выступления",
                },
            ],
        };
    },
};
</script>

<style></style>
