<template>
    <section
        class="ef-partners"
        :class="{'ef-scrollable': isVisible}"
        id="efpartners">
        <div class="ef-partners__content container">
            <div class="ef-partners__titling">
                <h1 class="ef-partners__titling-title">Партнеры</h1>
                <p class="ef-partners__titling-desc">Мы гордимся тем, что сотрудничаем с лидерами индустрии и социально ответственными компаниями, которые помогают нам организовать IT ECOFEST.</p>
            </div>
            <div class="ef-partners__list-wrapper">
                <div
                    v-for="(item, index) in 4"
                    :key="'block_' + index"
                    class="ef-partners__block">
                    <h3 class="ef-partners__block-title">Организаторы</h3>
                    <div class="ef-partners__list">
                        <div
                            v-for="(item, index) in 3"
                            :key="'partner_' + index"
                            class="ef-partners__item">
                            <img
                                class="ef-partners__item-logo"
                                src="@/assets/icons/logo.svg"
                                alt="partner" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-partners",
    data() {
        return {
            isVisible: false,
        };
    },
    mounted() {
        window.addEventListener("scroll", this.setScrollPosition);
    },
    beforeDestroy() {
        window.removeEventListener("scroll", this.setScrollPosition);
    },
    methods: {
        setScrollPosition() {
            var rect = document.getElementById("efpartners").getBoundingClientRect();
            this.isVisible = rect.top <= 100 ? true : false;
        },
    },
};
</script>

<style></style>
