<template>
    <section class="ef-contest">
        <div class="ef-contest__content container">
            <div class="ef-contest__titling">
                <h1 class="ef-contest__titling-title">конкурсы и призы</h1>
                <p class="ef-contest__titling-desc">В рамках IT Eco Fest пройдет хакатон IT-проектов, направленных на экологию. Лучшие проекты получат денежные призы от Министерства экологии республики Узбекистан</p>

                <span class="ef-contest__titling-btn">Питчинг проектов состоится 4 мая на площадке фестиваля</span>
                <span class="ef-contest__titling-btn">Победители будут объявлены вечером 5 мая</span>
            </div>

            <div class="ef-contest__list">
                <div
                    v-for="(item, index) in thePlaces"
                    :key="'el_' + index"
                    class="ef-contest__item">
                    <p class="ef-contest__item-place">{{ item.wonplace }}</p>
                    <p class="ef-contest__item-prize">
                        {{ item.prize }}
                        <span>сумов</span>
                    </p>
                </div>
            </div>
            <div class="ef-contest__btn">
                <img
                    class="ef-contest__btn-icon"
                    src="@/assets/icons/icon-calendar.svg"
                    alt="icon camera" />

                <p class="ef-contest__btn-label">подать заявку на участие (до 3 мая)</p>
            </div>

            <div class="ef-contest__copyright">Команда, занявшая первое место, также будет иметь возможность разработать свой продукт в сотрудничестве с генеральным спонсором и главным организатором фестиваля — компанией-разработчиком программного обеспечения Realsoft.</div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-contest",
    data() {
        return {
            thePlaces: [
                {
                    wonplace: "#2 место",
                    prize: "15 млн",
                },
                {
                    wonplace: "#1 место",
                    prize: "25 млн",
                },
                {
                    wonplace: "#3 место",
                    prize: "10 млн",
                },
            ],
        };
    },
};
</script>

<style></style>
