<template>
    <section class="ef-gallery">
        <div class="ef-gallery__content container">
            <div class="ef-gallery__titling">
                <h1 class="ef-gallery__titling-title">Галерея</h1>
                <p class="ef-gallery__titling-desc">Загляните в фотогалерею прошлых IT ECOFEST и ощутите энергию инноваций и дружелюбие сообщества, объединенного заботой о планете.</p>
            </div>

            <div class="ef-gallery__body">
                <div
                    v-for="(item, index) in 6"
                    :key="'gallery_' + index"
                    class="ef-gallery__item ef-galitem">
                    <!-- 1 -->
                    <img
                        class="ef-galitem__image"
                        :src="`https://picsum.photos/30${index}`"
                        alt="image" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-gallery",
    data() {
        return {};
    },
};
</script>

<style></style>
