<template>
    <section class="ef-speaker">
        <div class="ef-speaker__content container">
            <div class="ef-speaker__titling">
                <h1 class="ef-speaker__titling-title">Спикеры</h1>
                <p class="ef-speaker__titling-desc">Встречайте наших звездных спикеров — лидеров мнений, инноваторов и пионеров в области IT и устойчивого развития.</p>
            </div>

            <div class="ef-speaker__list">
                <div
                    v-for="(item, index) in items"
                    :key="'card_' + index"
                    class="ef-speaker__list-imte ef-speakercard"
                    :class="{'ef-illustration': item.illustration}"
                    :style="`--i: ${index}s `">
                    <img
                        class="ef-speakercard__image"
                        :src="item.image ? item.image : item.illustration"
                        alt="speaker" />
                    <p
                        v-if="item.title"
                        class="ef-speakercard__name">
                        {{ item.title }}
                    </p>
                    <p
                        v-if="item.desc"
                        class="ef-speakercard__job">
                        {{ item.desc }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-speakers",
    data() {
        return {
            items: [
                {
                    title: "Нигора Акбарова",
                    desc: "Главный экологический инженер, EcoTech Solutions",
                    image: require("@/assets/images/speaker-1.jpg"),
                },
                {
                    illustration: require("@/assets/images/illustration-2.png"),
                },
                {
                    title: "Алина Каримова",
                    desc: "Директор по развитию, EcoStartup Hub",
                    image: require("@/assets/images/speaker-2.jpg"),
                },
                {
                    title: "Сабина Юсупова",
                    desc: "Руководитель проекта, Sustainable IT Community",
                    image: require("@/assets/images/speaker-3.jpg"),
                },
                {
                    illustration: require("@/assets/images/illustration-3.png"),
                },
                {
                    title: "Ильдар Хасанов",
                    desc: "Технический директор, Smart Energy Systems",
                    image: require("@/assets/images/speaker-4.jpg"),
                },
                {
                    illustration: require("@/assets/images/illustration-4.png"),
                },
                {
                    title: "Темур Мирзаев",
                    desc: "Основатель и CEO, GreenCode Innovations",
                    image: require("@/assets/images/speaker-5.jpg"),
                },
                {
                    title: "Рустам Зияев",
                    desc: "Руководитель отдела исследований, IT Climate Analytics",
                    image: require("@/assets/images/speaker-6.jpg"),
                },
                {
                    title: "Диана Усманова",
                    desc: "Продукт-менеджер, ReuseTech",
                    image: require("@/assets/images/speaker-7.jpg"),
                },
                {
                    illustration: require("@/assets/images/illustration-5.png"),
                },
                {
                    title: "Шахриёр Файзуллаев",
                    desc: "Сооснователь, CleanAir Tech",
                    image: require("@/assets/images/speaker-8.jpg"),
                },
            ],
        };
    },
};
</script>

<style></style>
