<template>
    <section class="ef-about">
        <div class="ef-about__content container">
            <div class="ef-about__titling">
                <h2 class="ef-about__titling-title">О проекте</h2>
                <p class="ef-about__titling-desc">IT ECOFEST 2024 объединяет передовые IT-решения и экологическое сознание, стремясь к синергии технологий и устойчивого развития. В этом году мы собираем вместе инноваторов, экологов и технологических энтузиастов, чтобы поделиться идеями, которые изменят наше будущее к лучшему.</p>
            </div>

            <div class="ef-about__list">
                <div
                    v-for="(item, index) in items"
                    :key="'card_' + index"
                    class="ef-about__item ef-aboutcard">
                    <h3 class="ef-aboutcard__title">{{ item.title }}</h3>
                    <img
                        class="ef-aboutcard__image"
                        :src="item.image"
                        alt="about image" />
                    <p class="ef-aboutcard__desc">{{ item.desc }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-intro",
    data() {
        return {
            items: [
                {
                    title: "Развитие талантов",
                    desc: "Признание и поощрение молодых IT-талантов и их проектов.",
                    image: require("@/assets/images/about-1.png"),
                },
                {
                    title: "Сообщество и взаимодействие",
                    desc: "Создание сети связей между IT-профессионалами, бизнесами и общественными организациями.",
                    image: require("@/assets/images/about-2.png"),
                },
                {
                    title: "Поддержка инноваций",
                    desc: "Поощрение и внедрение новаторских идей для решения экологических проблем.",
                    image: require("@/assets/images/about-3.png"),
                },
                {
                    title: "Пропаганда экологии",
                    desc: "Повышение осведомленности о важности экологии через призму IT-инноваций.",
                    image: require("@/assets/images/about-4.png"),
                },
            ],
        };
    },
};
</script>

<style></style>
