<template>
    <div>
        <MainHeader class="ef__header" />
        <RouterView class="ef__body" />
        <!-- <MainFooter class="unisale__footer" /> -->
    </div>
</template>

<script>
import MainHeader from "@/components/compHeader.vue";

export default {
    name: "ecofest-layout",
    components: {
        MainHeader,
    },
};
</script>
